 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", sans-serif;
      flex-wrap: wrap;
    }

    body {
      min-height: 100vh;
    background-color:  #ffe4cc;
    }
    .app-title {
      background: #ffffff;
      border: 2px solid #d9d9d9;
      box-shadow: 0 4px #bfbfbf;
      border-radius: 50px;
      margin: 20px 80px;
      display: flex;
      align-items: center;
      padding: 8px 20px;
      position: sticky;
      top: 20px;
      z-index: 100;
    }

    .logo {
      height: 45px;
      margin-right: 10px;
    }

    .title {
      font-size: 22px;
      margin-right: auto;
      font-family: "Times New Roman", Times, serif;
    }

    .navbar {
      display: flex;
      gap: 25px;
      align-items: center;
    }

    .nav-item {
      text-decoration: none;
      color: black;
      font-size: 17px;
    }

    .btn {
      padding: 6px 18px;
      border-radius: 20px;
      border: none;
      background: #994a00;
      color: white;
      cursor: pointer;
    }

    .hamburger-icon {
      height: 30px;
      display: none;
      cursor: pointer;
    }

 
    .main-container {
      width: 800px;
      height: 430px;
      background: #fefae0;
      margin: 40px auto;
      display: flex;
      border-radius: 16px;
      overflow: hidden;
      box-shadow: 0 15px 35px rgba(127, 85, 57, 0.25);
    }

    .left-panel {
      width: 50%;
      background: linear-gradient(135deg, #c9a27e, #b08968);
      color: white;
      padding: 45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .right-panel {
      width: 50%;
      padding: 45px;
      background: #fffdf7;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    input {
      width: 100%;
      padding: 12px 42px 12px 12px;
      border-radius: 8px;
      border: 1px solid #ddb892;
      background: #fefae0;
    }

    .password-box {
      position: relative;
    }

    .password-box span {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    button[type="submit"] {
      padding: 12px;
      background:  #994a00;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    .switch-text {
      margin-top: 15px;
      text-align: center;
    }
 @media(max-width:768px){
      .left-panel{
        display: none;
      }
      .right-panel{
        width: 100%;
        padding: 30px;
        text-align: center;
      }
      .main-container{
        flex-direction: column;
      }

      
    }
        @media (max-width: 900px) {
      .main-container {
        flex-direction: column;
        width: 90%;
        height: auto;
      }

    }